---
import "../styles/global.css";
---
<a class="relative inline-block peer">
    <span class="inline-block w-full bg-black text-white p-2 focus:bg-gray-400  hover:bg-gray-400">Espectáculos y entradas <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline-block size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" /></svg>
    </span>
    <div class="absolute bg-white w-72 shadow-lg top-full left-0 hidden peer-hover-within:block peer-focus-within:block">
        <div class="grid grid-cols-4">
            <div class="block w-full px-4 py-2 text-black no-underline hover:bg-gray-200 border-b border-gray-300 p-2">Alegría</div>
            <div class="block w-full px-4 py-2 text-black no-underline hover:bg-gray-200 border-b border-gray-300">Cirque du Soleil ALIZÉ</div>
            <div class="block w-full px-4 py-2 text-black no-underline hover:bg-gray-200 border-b border-gray-300">Cirque du Soleil'Auana</div>
            <div class="block w-full px-4 py-2 text-black no-underline hover:bg-gray-200 border-b border-gray-300">Corteo</div>
        </div>
        <div class="grid grid-cols-4">
            <div class="block w-full px-4 py-2 text-black no-underline hover:bg-gray-200 border-b border-gray-300">Cirque du Soleil CRYSTAL</div>
            <div class="block w-full px-4 py-2 text-black no-underline hover:bg-gray-200 border-b border-gray-300">Drawn to Life</div>
            <div class="block w-full px-4 py-2 text-black no-underline hover:bg-gray-200 border-b border-gray-300">Cirque du Soleil ECHO</div>
            <div class="block w-full px-4 py-2 text-black no-underline hover:bg-gray-200 border-b border-gray-300">JOYÀ</div>
        </div>
        <div class="grid grid-cols-4">
            <div class="block w-full px-4 py-2 text-black no-underline hover:bg-gray-200 border-b border-gray-300">KÁ</div>
            <div class="block w-full px-4 py-2 text-black no-underline hover:bg-gray-200 border-b border-gray-300">KOOZA</div>
            <div class="block w-full px-4 py-2 text-black no-underline hover:bg-gray-200 border-b border-gray-300">KURIOS - Gabinete de curiosidades</div>
            <div class="block w-full px-4 py-2 text-black no-underline hover:bg-gray-200 border-b border-gray-300">LUDÖ</div>
        </div>
        <div class="grid grid-cols-4">
            <div class="block w-full px-4 py-2 text-black no-underline hover:bg-gray-200 border-b border-gray-300">LUZIA</div>
            <div class="block w-full px-4 py-2 text-black no-underline hover:bg-gray-200 border-b border-gray-300">Cirque du Soleil Mad Apple</div>
            <div class="block w-full px-4 py-2 text-black no-underline hover:bg-gray-200 border-b border-gray-300">Michael Jackson ONE</div>
            <div class="block w-full px-4 py-2 text-black no-underline hover:bg-gray-200 border-b border-gray-300">Mystère</div>
        </div>
        <div class="grid grid-cols-4">
            <div class="block w-full px-4 py-2 text-black no-underline hover:bg-gray-200 border-b border-gray-300">"O"</div>
            <div class="block w-full px-4 py-2 text-black no-underline hover:bg-gray-200 border-b border-gray-300">OVO</div>
            <div class="block w-full px-4 py-2 text-black no-underline hover:bg-gray-200 border-b border-gray-300">Série hommage - Daniel Bélanger</div>
            <div class="block w-full px-4 py-2 text-black no-underline hover:bg-gray-200 border-b border-gray-300">'Twas th Night Before...</div>
        </div>
        <div class="bg-gray-200 p-2"><a class="underline text-black" href="#">TODAS LAS CIUDADES</a></div>
    </div>
</a>