<div class="text-white p-5 pt-0 border-b-1 border-gray-700">
    <a href="#" class="block underline mb-4">Accesibilidad</a>
    <a href="#" class="block underline mb-4">Politica de cookies</a>
    <a href="#" class="block underline mb-4">Política de Privacidad</a>
    <a href="#" class="block underline mb-4">Términos y Condiciones</a>
    <a href="#" class="block underline">California Derechos Privacidad</a>
</div>