<div class="text-white p-5 pt-0 border-b-1 border-gray-700 text-sm">
    <a href="#" class="block underline mb-4 hover:text-gray-400">Accesibilidad</a>
    <a href="#" class="block underline mb-4 hover:text-gray-400">Politica de cookies</a>
    <a href="#" class="block underline mb-4 hover:text-gray-400">Política de Privacidad</a>
    <a href="#" class="block underline mb-4 hover:text-gray-400">Términos y Condiciones</a>
    <a href="#" class="block underline hover:text-gray-400">California Derechos Privacidad</a>
</div>