---
import Flogo from "./Flogo.astro";
import Fredes from "./Fredes.astro";
import Ftabla from "./Ftabla.astro";
---
<div class="hidden xl:flex bg-black">
    <div class="w-300">
        <Flogo/>
        <Fredes/>
        <Ftabla/>
    </div>
</div>