---
import Facordeon from "./Facordeon.astro";
import Fredes from "./Fredes.astro";
import Fenlaces from "./Fenlaces.astro";
---

<div class="bottom-0 bg-black">
    <Fredes/>
    <Facordeon/>
    <Fenlaces/>
</div>