<div class="text-white">
    <table>
        <thead>
            <tr>
                <th>CIRQUE DU SOLEIL</th>
                <th>CORPORATIVO</th>
                <th>DESCUBRA NUESTRO MUNDO</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sobre nosotros</td>
                <td>Carrera</td>
                <td>Cirque du Soleil Entertainment Group</td>
            </tr>
            <tr>
                <td>Boletín</td>
                <td>Casting</td>
                <td>Cirque du Soleil Events + Experiences</td>
            </tr>
            <tr>
                <td>Contáctenos</td>
                <td>Responsabilidad social</td>
                <td>Blue Man Group</td>
            </tr>
            <tr>
                <td>Tienda</td>
                <td>One Drop</td>
                <td>VStar Entertainment</td>
            </tr>
            <tr>
                <td>Tarjetas de regalo</td>
                <td>Sala de prensa</td>
                <td></td>
            </tr>
            <tr>
                <td>Preguntas Frecuentes</td>
                <td>Socios corporativos</td>
                <td></td>
            </tr>
            <tr>
                <td>Mapa del sitio</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>